<!DOCTYPE html>
<html>
<head>
    <!--//ToDO--> <!-- start newsletter -->  <!-- start contact <form -->
    <title></title>
    <meta charset="utf-8" />
    <!-- animate -->
    <link rel="stylesheet" href="Layout/css/animate.min.css">

    <!-- google font -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,800' rel='stylesheet' type='text/css'>
    <!-- custom -->
    <link rel="stylesheet" href="Layout/css/style.css">

    <!-- jQuery -->
    <script src="Layout/js/jquery.js"></script>
    <!-- bootstrap -->
    <script src="Layout/js/bootstrap.min.js"></script>
    <!-- isotope -->
    <script src="Layout/js/isotope.js"></script>
    <!-- images loaded -->
    <script src="Layout/js/imagesloaded.min.js"></script>
    <!-- wow -->
    <script src="Layout/js/wow.min.js"></script>
    <!-- smoothScroll -->
    <script src="Layout/js/smoothscroll.js"></script>
    <!-- jquery flexslider -->
    <script src="Layout/js/jquery.flexslider.js"></script>
    <!-- custom -->
    <script src="Layout/js/custom.js"></script>

</head>
<body>
    <!-- start home -->
    <section id="home" class="text-center">
        <div class="templatemo_headerimage">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <img style="height:550px;" src="/Layout/images/slide/slide1.jpg" alt="Slide 1">
                        <div class="slider-caption">
                            <div class="templatemo_homewrapper">
                                <h1 class="wow fadeInDown" data-wow-delay="2000">7City</h1>
                                <h2 class="wow fadeInDown" data-wow-delay="2000">
                                    <span>Connecting people with people</span>
                                </h2>
                                <p>We provide satisfaction, not only service</p>
                                <a href="#service" class="smoothScroll btn btn-default wow fadeInDown" data-wow-delay="2000">Our Service</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img style="height:550px;" src="/Layout/images/slide/slide2.jpg" alt="Slide 2">
                        <div class="slider-caption">
                            <div style="background-color:rgba(0, 0, 0,.3)" class="templatemo_homewrapper">
                                <h1 class="wow fadeInDown" data-wow-delay="2000">Fast&Safe</h1>
                                <h2 class="wow fadeInDown" data-wow-delay="2000">
                                    <span>We Carry your Deam with us</span>
                                </h2>
                                <b>Here the sky of the sky of a tree called life;</b>
                                <p><b> which grows higher than soul can hope or mind can hide!!</b></p>
                                <a href="#about" class="smoothScroll btn btn-default wow fadeInDown" data-wow-delay="2000">See about us</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img style="height:550px;" src="/Layout/images/slide/slide4.jpg" alt="Slide 3">
                        <div class="slider-caption">
                            <div style="background-color:rgba(0, 0, 0,.3)" class="templatemo_homewrapper">
                                <h1 class="wow fadeInDown" data-wow-delay="2000">Package Delivery</h1>
                                <h2 class="wow fadeInDown" data-wow-delay="2000">
                                    <span>spacial discount on occasional period</span>
                                </h2>
                                <p>Packages for Family Travel, Picnic And Special Honeymoon Package</p>
                                <a href="#team" class="smoothScroll btn btn-default wow fadeInDown" data-wow-delay="2000">See our Transport</a>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </section>
    <!-- end home -->
    <!-- start service -->
    <div id="service">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="media">
                        <div class="media-object media-left wow fadeIn" data-wow-delay="0.1s">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="media-body wow fadeIn">
                            <h3 class="media-heading">Home Delivery</h3>
                            <p>7City ltd. introduces payment on delivery service allowing passengers to book tickets online and pay at delivery</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="media">
                        <div class="media-object media-left wow fadeIn" data-wow-delay="0.3s">
                            <i class="fa fa-ban"></i>
                        </div>
                        <div class="media-body wow fadeIn">
                            <h3 class="media-heading">Cancel Ticket</h3>
                            <p>Passenger can cancel ticket any time, 4 hour before Journey. we back your money or you can repurchase ticket</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="media">
                        <div class="media-object media-left wow fadeIn" data-wow-delay="0.6s">
                            <i class="fa fa-leaf"></i>
                        </div>
                        <div class="media-body wow fadeIn" data-wow-delay="0.3s">
                            <h3 class="media-heading">Safe Journey</h3>
                            <p>We care about you and your family so we select efficient driver who responsible for take you to your home</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="media">
                        <div class="media-object media-left wow fadeIn" data-wow-delay="0.9s">
                            <i class="fa fa-money"></i>
                        </div>
                        <div class="media-body wow fadeIn" data-wow-delay="0.6s">
                            <h3 class="media-heading">Best Prices</h3>
                            <p>We provided Various type of Buses for you,Travel through Us Not only saving money also provide Great comfort.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="media">
                        <div class="media-object media-left wow fadeIn" data-wow-delay="0.4s">
                            <i class="fa fa-comments-o"></i>
                        </div>
                        <div class="media-body wow fadeIn" data-wow-delay="0.3s">
                            <h3 class="media-heading">Free Wifi</h3>
                            <p>We care about your time so we provider free wifi so that you can enjoy your journey and make use of your time</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="media">
                        <div class="media-object media-left wow fadeIn" data-wow-delay="0.8s">
                            <i class="fa fa-gift"></i>
                        </div>
                        <div class="media-body wow fadeIn" data-wow-delay="0.6s">
                            <h3 class="media-heading">Package Service</h3>
                            <p>We provide some package for Family Travel, Picnic And Special event. we also provide Honeymoon Package and serprise gift for new couple.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end service -->
    <!-- start divider -->
    <div id="divider">
        <div class="container blurbackground">
            <div class="row">
                <div class="col-md-1 col-sm-1"></div>
                <div class="col-md-8 col-sm-8">
                    <h2 class="wow bounce">Connecting <strong>People</strong> with People</h2>
                    <h3 class="wow fadeIn" data-wow-delay="0.6s">We provide <mark>Satisfaction</mark>, not only <mark>Service</mark></h3>
                    <p class="wow fadeInUp" data-wow-delay="0.9s">Now with round the clock customer support, commuting from city to city is easier than ever. Traveling by bus has become a much-preferred option and on 7City you can choose Bus services from over 32 buses. You can compare fares, check for availability and make online bus bookings with a click 7City offers a multitude of choices, providing the best in online bus booking services</p>
                </div>
                <div class="col-md-2 col-sm-2"></div>
            </div>
        </div>
    </div>
    <!-- end divider -->
    <!-- start about -->
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay="0.9s">
                    <h3>About Us</h3>
                    <h4>Safe, Fast and Best Prices</h4>
                    <p style="text-align:justify">
                        Bangladesh, with its well-planned network of roadways makes traveling by road an easy alternative. Most of the towns and cities within Bangladesh are well connected to each other by state and national highways. Private bus operators offer daily scheduled bus services and bookings can be made for online bus tickets for any of the private buses. With the best in online bus ticket reservation one can book bus tickets for over 4,000 routes all across Bangladesh. You can choose from AC/ Non-AC, luxury and sleeper bus booking Services amongst others. Most of these luxury buses are a great way to travel, especially A.C sleeper coaches as they offer great service. You can choose from many private companies for the best deals and enjoy a pleasant ride all the way through.
                    </p>
                </div>
                <div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay="0.9s">
                    <h4>Why Choose Us</h4>
                    <hr />
                    <br />
                    <br />
                    <strong>Safe Travel</strong>
                    <p>Your life is the first prioroty to us. We are ensure safe travel for our valuable Customer</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                    </div>
                    <strong>Fast Service</strong>
                    <p>We care about your time, so you can go with us and enjoy fast service. </p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                    </div>
                    <strong>Saving Money</strong>
                    <p>We Are Provides the best Possible Travel through Bangladesh In a low rate of ticketing And Provides Many more......</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end about -->
    <!-- start team -->
    <div id="team">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="wow bounce">Choose our Service</h2>
                </div>
                <div class="col-md-4 col-sm-4 wow fadeIn" data-wow-delay="0.3s">
                    <img src="/Layout/images/Type/1.jpg" class="img-responsive" alt="team img">
                    <h4>Safety First</h4>
                    <h3>AC Service</h3>
                    <p>Better Service and Priority on customer safety.</p>
                    <p>2.00 PM, 7.00 PM</p>
                    <ul class="social-icon text-center">
                        <li><a href="#" class="wow fadeInUp fa fa-star" data-wow-delay="2s"></a></li>
                        <li><a href="#" class="wow fadeInDown fa fa-star" data-wow-delay="2s"></a></li>
                        <li><a href="#" class="wow fadeIn fa fa-star" data-wow-delay="2s"></a></li>
                        <li><a href="#" class="wow fadeInUp fa fa-star-half-o" data-wow-delay="2s"></a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 wow fadeIn" data-wow-delay="0.6s">
                    <img src="/Layout/images/Type/2.jpg" class="img-responsive" alt="team img">
                    <h4>Speed First</h4>
                    <h3>Business Class</h3>
                    <p>Best Service and Priority on reach destination in time</p>
                    <p>12.00 AM</p>
                    <ul class="social-icon text-center">
                        <li><a href="#" class="wow fadeInUp fa fa-star" data-wow-delay="2s"></a></li>
                        <li><a href="#" class="wow fadeInDown fa fa-star" data-wow-delay="2s"></a></li>
                        <li><a href="#" class="wow fadeIn fa fa-star" data-wow-delay="2s"></a></li>
                        <li><a href="#" class="wow fadeInUp fa fa-star" data-wow-delay="2s"></a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 wow fadeIn" data-wow-delay="0.9s">
                    <img src="/Layout/images/Type/3.jpg" class="img-responsive" alt="team img">
                    <h4>Best Prices</h4>
                    <h3>General Sevice</h3>
                    <p>Average Service and Priority on customer valuable money</p>
                    <p>9.00 AM, 2.00 PM, 7.00 PM</p>
                    <ul class="social-icon text-center">
                        <li><a href="#" class="wow fadeInUp fa fa-star-o" data-wow-delay="2s"></a></li>
                        <li><a href="#" class="wow fadeInDown fa fa-star-o" data-wow-delay="2s"></a></li>
                        <li><a href="#" class="wow fadeIn fa fa-star-o" data-wow-delay="2s"></a></li>
                        <li><a href="#" class="wow fadeInUp fa fa-star-o" data-wow-delay="2s"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end team -->
    <!-- start newsletter -->
    <div id="newsletter">
        <div class="title">
            <h2 class="wow bounce">Search</h2>
            <p class="wow fadeIn" data-wow-delay="0.6s">Query Bus rent and available Bus</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4">
                    <div ng-hide="ShowDiv">
                        <select ng-change="TimeFilter()" class="drop form-control" ng-model="Search.Time"
                                ng-options="B.DepartureTime as B.DepartureTime +  ' - '  + B.ArrivalTime for B in BusScheduleList">
                            <option value="" disabled selected>--- Select Departure Time ---</option>
                        </select>
                        <button class="drop form-control" ng-click="TimeFilterAgain()">Next</button>
                    </div>

                    <div ng-show="ShowDiv">
                        <select class="drop form-control" ng-model="Search.BusId"
                                ng-options="b.Id as b.BusType + ' -' + b.BusScheduleId for b in QueryBusList">
                            <option value="" disabled selected>--- Select Bus Type ---</option>
                        </select>

                        <select class="drop form-control" ng-disabled="Search.BusId == null" ng-model="Search.DepartureLocationId"
                                ng-options="l.Id as l.LocationName for l in LocationList">
                            <option value="" disabled selected>--- Select Departure Location ---</option>
                        </select>

                        <select ng-change="ShowFare()" class="drop form-control" ng-disabled="Search.DepartureLocationId == null" ng-model="Search.DestinationLocationId"
                                ng-options="l.Id as l.LocationName disable when l.Id == Search.DepartureLocationId for l in LocationList">
                            <option value="" disabled selected>--- Select  Destination Location ---</option>
                        </select>
                        <div>
                            <h2 class="rent drop" ng-show="AmountDiv">{{SearchFareList[0].TotalAmount || 'No bus available for this route'}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end newsletter -->
    <!-- start pricing -->
    <div id="pricing" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow bounce">
                    <h2>Compare Price and Service</h2>
                </div>
                <div class="col-sm-6 col-md-4 wow fadeInLeft" data-wow-delay="0.6s">
                    <div class="plan">
                        <h4 class="plan_title">Business Class</h4>
                        <ul>
                            <li>Price 100%</li>
                            <li>Luxurious Seats</li>
                            <li>Temperature controlable Ac System</li>
                            <li>Supply Food on tea break</li>
                            <li>Fast aid service available</li>
                            <li>Priority on reach destination in time with safety</li>
                            <li>
                                <a href="#" class="wow fadeInUp fa fa-star" data-wow-delay="1s"></a>
                                <a href="#" class="wow fadeInDown fa fa-star" data-wow-delay="1s"></a>
                                <a href="#" class="wow fadeIn fa fa-star" data-wow-delay="1s"></a>
                                <a href="#" class="wow fadeInUp fa fa-star" data-wow-delay="1s"></a>
                            </li>
                        </ul>
                        <a href="#/Search" class="btn btn-warning">Purchase Ticket</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.9s">
                    <div class="plan">
                        <h4 class="plan_title">AC<br /> Service<br /></h4>
                        <ul>
                            <li>Price 90%</li>
                            <li>Adjustable Seat</li>
                            <li>AC</li>
                            <li>Supply Food on tea break</li>
                            <li>Fast aid service available</li>
                            <li>Priority on customer safety</li>
                            <li>
                                <a href="#" class="wow fadeInUp fa fa-star" data-wow-delay="1s"></a>
                                <a href="#" class="wow fadeInDown fa fa-star" data-wow-delay="1s"></a>
                                <a href="#" class="wow fadeIn fa fa-star" data-wow-delay="1s"></a>
                                <a href="#" class="wow fadeInUp fa fa-star-half-o" data-wow-delay="1s"></a>
                            </li>
                        </ul>
                        <br />
                        <a href="#/Search" class="btn btn-warning">Purchase Ticket</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-delay="1s">
                    <div class="plan">
                        <h4 class="plan_title">General Service</h4>
                        <ul>
                            <li>Price 70%</li>
                            <li>Normal Seat</li>
                            <li>Non AC</li>
                            <li>-</li>
                            <li>-</li>
                            <li>Priority on save customer valuable money</li>
                            <li>
                                <a href="#" class="wow fadeInUp fa fa-star" data-wow-delay="1s"></a>
                                <a href="#" class="wow fadeInDown fa fa-star" data-wow-delay="1s"></a>
                                <a href="#" class="wow fadeIn fa fa-star-half-o" data-wow-delay="1s"></a>
                                <a href="#" class="wow fadeInUp fa fa-star-o" data-wow-delay="1s"></a>
                            </li>
                        </ul>
                        <a href="#/Search" class="btn btn-warning">Purchase Ticket</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end pricing -->
    <!-- start portfolio -->
    <div id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="wow bounce">Our Transport</h2>
                    <div class="iso-section wow fadeIn" data-wow-delay="0.6s">

                        <ul class="filter-wrapper clearfix">
                            <li><a href="#" data-filter="*" class="selected opc-main-bg">All</a></li>
                            <li><a href="#" class="opc-main-bg" data-filter=".graphic">Business Class</a></li>
                            <li><a href="#" class="opc-main-bg" data-filter=".photoshop">Ac Service</a></li>
                            <li><a href="#" class="opc-main-bg" data-filter=".wallpaper">General Service</a></li>
                        </ul>

                        <div class="iso-box-section">
                            <div class="iso-box-wrapper col4-iso-box">

                                <div class="iso-box graphic photoshop wallpaper col-md-4 col-sm-6 col-xs-12">
                                    <div class="portfolio-thumb">
                                        <img src="/Layout/images/Transport/Transport (2).jpg" class="fluid-img" alt="portfolio img">
                                        <div class="portfolio-overlay">
                                            <a href="#/Search" class="fa fa-search"></a>
                                            <a href="#service" class="fa fa-link smoothScroll"></a>
                                            <h4>Ticket Booking</h4>
                                            <p>Safe, Fast and Best Prices</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="iso-box graphic wallpaper col-md-4 col-sm-6 col-xs-12">
                                    <div class="portfolio-thumb">
                                        <img src="/Layout/images/Transport/Transport (5).jpg" class="fluid-img" alt="portfolio img">
                                        <div class="portfolio-overlay">
                                            <a href="#/Search" class="fa fa-search"></a>
                                            <a href="#service" class="fa fa-link smoothScroll"></a>
                                            <h4>Ticket Booking</h4>
                                            <p>Safe, Fast and Best Prices</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="iso-box wallpaper col-md-4 col-sm-6 col-xs-12">
                                    <div class="portfolio-thumb">
                                        <img src="/Layout/images/Transport/Transport (3).jpg" class="fluid-img" alt="portfolio img">
                                        <div class="portfolio-overlay">
                                            <a href="#/Search" class="fa fa-search"></a>
                                            <a href="#service" class="fa fa-link smoothScroll"></a>
                                            <h4>Ticket Booking</h4>
                                            <p>Safe, Fast and Best Prices</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="iso-box graphic col-md-4 col-sm-6 col-xs-12">
                                    <div class="portfolio-thumb">
                                        <img src="/Layout/images/Transport/Transport (6).jpg" class="fluid-img" alt="portfolio img">
                                        <div class="portfolio-overlay">
                                            <a href="#/Search" class="fa fa-search"></a>
                                            <a href="#service" class="fa fa-link smoothScroll"></a>
                                            <h4>Ticket Booking</h4>
                                            <p>Safe, Fast and Best Prices</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="iso-box wallpaper col-md-4 col-sm-6 col-xs-12">
                                    <div class="portfolio-thumb">
                                        <img src="/Layout/images/Transport/Transport (1).jpg" class="fluid-img" alt="portfolio img">
                                        <div class="portfolio-overlay">
                                            <a href="#/Search" class="fa fa-search"></a>
                                            <a href="#service" class="fa fa-link smoothScroll"></a>
                                            <h4>Ticket Booking</h4>
                                            <p>Safe, Fast and Best Prices</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="iso-box graphic photoshop col-md-4 col-sm-6 col-xs-12">
                                    <div class="portfolio-thumb">
                                        <img src="/Layout/images/Transport/Transport (4).jpg" class="fluid-img" alt="portfolio img">
                                        <div class="portfolio-overlay">
                                            <a href="#/Search" class="fa fa-search"></a>
                                            <a href="#service" class="fa fa-link smoothScroll"></a>
                                            <h4>Ticket Booking</h4>
                                            <p>Safe, Fast and Best Prices</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end portfolio -->
    <!-- start contact -->
    <div id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 wow fadeInLeft" data-wow-delay="0.6s">
                    <h2><strong>7City</strong> Co.</h2>
                    <p>Connecting people with people</p>
                    <p>
                        Here the sky of the sky of a tree called life;
                        which grows higher than soul can hope or mind can hide!!
                    </p>
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-4 wow fadeIn" data-wow-delay="0.9s">
                    <address>
                        <h3>Visit Office</h3>
                        <p><i class="fa fa-map-marker too-icon"></i> 123 Jatrabari, Dhaka</p>
                        <p><i class="fa fa-phone too-icon"></i>01521431401</p>
                        <p><i class="fa fa-envelope-o too-icon"></i>rakib424@gmail.com</p>
                    </address>
                </div>
                <div ng-controller="ContractCtrl">
                    <div action="#" method="post" class="col-md-6 col-sm-4" id="contact-form" role="form">
                        <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
                            <input name="name" type="text" class="form-control" id="name" placeholder="Name" ng-model="Contract.Name">
                        </div>
                        <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
                            <input name="email" type="email" class="form-control" id="email" placeholder="Email" ng-model="Contract.Email">
                        </div>
                        <div class="col-md-12 col-sm-12 wow fadeIn" data-wow-delay="0.9s">
                            <textarea name="message" rows="5" class="form-control" id="message" placeholder="Message" ng-model="Contract.Message"></textarea>
                        </div>
                        <div class="col-md-offset-9 col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                            <input name="submit" type="button" class="form-control" id="submit" ng-click="SaveContract()" value="Send">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end contact -->
    <!-- start google map -->
    <!--<div class="google_map">
        <div id="map-canvas"></div>
    </div>-->
    <!-- end google map -->
</body>
</html>
